script(src='https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js')
script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
//script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js")
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src="https://d3js.org/d3.v4.min.js")
script(src="https://unpkg.com/vue-async-computed@3.5.0")
