td
  
  .form-check.btn-group.btn-group-toggle
    label.btn.btn-primary(v-text="(votes.indexOf(team._id) !== -1 ? 'selected' : '')", v-bind:class="{ active: votes.indexOf(team._id) !== -1 }")
    input(
      type="checkbox",
      :id="'vote_'+team._id",
      v-model="votes",
      :value="team._id",
      v-on:click="validateVote( (votes.indexOf(team._id) !== -1 ? team._id : encodeURIComponent(JSON.stringify(votes))), (votes.indexOf(team._id) === -1), $event)",
      :checked="votes.indexOf(team._id) !== -1")
